@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');


/* --------- GLOBALES --------- */
body {
    margin: 0;
    padding: 0;
}

a, a:hover, a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    font-weight: bold;
}

button:hover,
#confirma:hover,
#resetea:hover {
    cursor: pointer;
}
/* ---------------------------- */
nav {
    background-color: antiquewhite;
}

nav *{
    justify-content: space-around;
    display: inline;
    list-style: none;
    overflow: hidden;
}

#LOGO {
    max-height: 50px;
}
#nav_hipervinculos {
    float: right;
}

.nav > a {
    color: #666;
    padding: 14px 16px;
    font-family: 'New Tegomin', serif;
}

.nav > a:hover,
.nav > a:active {
    
    padding: 14px 16px;
    background-color: coral;
}

.nav > a:active {
    background-color: rgba(255, 127, 80, 0.5);
}


main, section, #prod {
    margin: 1.5em 0.5em 0 0.5em;
    border-spacing: 1em;
    z-index: 2;
}

footer > * {
    text-align: center;
    max-width: 99%;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

.SeccionDeFooter {
    width: 33%;
}

.f3 {
    justify-content: center;
}

.productos {
    text-align: center;
    width: 25%;
    border-radius: 7.5%;
    padding: 0.5%;
    border: 2px solid hsl(0, 0%, 90%);
    background-color: hsl(0, 0%, 95%,0.5);
    
}
.productos:hover{
    background-color: hsla(122, 100%, 50%, 0.25);
}

.productos > * {
    margin: 1em auto 1em auto;
}
.productos > img {
    display:block;
    max-width: 60%;
}

.caract_prod {
    list-style-type: none;
}

.btn_prod {
    width: 50%;
    padding: 1%;
    background-color: rgba(245, 245, 245, 0.5);
    border-color: rgba(0, 0, 0, 0.5);
    color: black;
    border-radius: 10px;
    margin-bottom: 5%;
    transition: width 650ms, height 650ms;
}
.btn_prod:hover {
    width: 70%;
    border-radius: 15px;
    background-color: rgb(0, 182, 6,0.75);
    border-color: rgba(0, 0, 0, 0);
    color: white;
}

.btn_prod:active {
    background-color: rgba(245, 245, 245, 0.472);
    border: 1px solid white;
    color: black;
}


.redes {
    width: 30px;
}

label {
    margin-right: 0.5em;
    margin-bottom: .25em;
}

textarea {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.campo_contacto {
    padding: 0.5em 1px  0.5em 1px; 
}

.genero {
    text-align: center;
}


textarea, .campo_contacto > input{
    border:none;
    border-radius: 5px;
    background-color: gainsboro;
    transition: width 0.15s, height 0.15s;
}

textarea:hover, textarea:focus, textarea:active
.campo_contacto > input:hover,
.campo_contacto > input:focus,
input[type=radius]:hover {
    border:none;
    border-radius: 5px;
    background-color: rgba(216, 177, 78, 0.75);
    transform: scale(1.05)
}


.botones {
    margin-left: 5%;
    margin-right: 5%;
}
.botones > input {
    width: 37%;
    margin: 0 5% 10px 5%;
    border-radius: 7px;
}

#confirma {
    background-color: rgba(127, 255, 0);
    transition: width 0.15s, height 0.35s;
    position: static;
}
#resetea {
    background-color: rgba(255, 112, 112);
    transition: width 0.1s, height 0.35s;
    position: static;
}

#confirma:hover, #resetea:hover {
    opacity: 0.80;
    width: 40%;
    height: 1.6em;

}
#confirma:active, #resetea:active {
    font-weight: bold;
}


.others {
    height: 1.5rem;
}
.other_products > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:   RED;
}

.other_products > ul > a {
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'New Tegomin', serif;
}

.other_products > ul > a:hover, .other_products > ul > a:active {
    background-color: coral;
}

.other_products > ul > a:active {
    background-color: rgba(255, 127, 80, 0.5);
}





.UP {
    border: 1.25px solid red;
    border-radius: 50%;
    height : 60px;
    width: 60px;
    position: fixed;
    bottom: 10%;
    right: 7.5%;
    transition: width 500ms, height 500ms;
    background-color: gainsboro;
    z-index: 9;
}

.UP:hover {
    border-color: greenyellow;
    background-color: rgba(216, 177, 78, 0.75);
    height : 90px;
    width: 90px;
}


.UP_img {
    width: 85%;
    margin: 7.5% 7.5%;
}