.productoX,
.pr4 {
  min-width: 400px;
  max-width: 23%;
  height: 500px;
  margin: 1%;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: hsla(33, 100%, 84%, 0.25);
  border: $prodBorder;
  box-shadow: $shadow;
  border-radius: 5%;
  padding: 1.5%;

  .producto_imagen {
    width: 60%;
    margin: 5% auto;
    transition: 1s;
  }
}

.productoX:hover,
.productoX:active {
  background: $prodHoverBkgColor;
  .producto_imagen {
    transform: scale(1.1);
    transition: 1s;
  }

  .btn {
    transition: 0.5s;
  }
  .btn:hover {
    transform: scale(1.2, 1.1);
  }
}
