.productoX,
.pr4 {
  @include flexCenterEverything();
  min-width: 400px;
  max-width: 23%;
  height: 500px;
  margin: 1%;
  flex-direction: column;
  background-color: hsla(33, 100%, 84%, 0.25);
  border: $prodBorder;
  box-shadow: $shadow;
  border-radius: 5%;
  padding: 1.5%;

  .producto_imagen {
    margin-bottom: 2vh;
    width: 60%;
    transition: 1s;
  }
}

.productoX:hover,
.productoX:active {
  background: $prodHoverBkgColor;
  .producto_imagen {
    transform: scale(1.1);
    transition: 1s;
  }
}
