.info-producto {
  display: flex;
}

.seccion_otros {
  display: flex;
  justify-content: center;
  column-gap: 2%;
}
.seccion_otros h5 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.produ_full_img {
  padding-left: 5%;
  height: $productoImgWidth * 0.75;
  width: $productoImgWidth;
}
.sub2 {
  display: flex;
  align-items: center;
}

.seccion_otros {
  a {
    .otro_producto {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: $prodBorder;
      border-radius: 5px;
      padding: 8px;

      .img_otro_producto,
      span {
        cursor: inherit;
      }
    }
    .otro_producto:hover {
      background: $prodHoverBkgColor;
    }
  }
}
