* {
  margin: 0;
  padding: 0;
  cursor: default;
}

a {
  text-decoration: none;
  color: green;
  cursor: pointer;
}

img {
  width: 50px;
}

.btn {
  transition: 1s;
}
.btn:hover {
  transition: 1s;
  transform: scale(1.2, 1.1);
}
