$shadow: 5px 5px 5px rgba(85, 85, 85, 0.5);
$productoImgWidth: 300px;
$goUpSize: 4vw;

$prodBorder: 1px double hsla(122, 100%, 50%, 0.5);
$prodHoverBkgColor: radial-gradient(
  ellipse,
  hsla(122, 100%, 50%, 0.7) 30%,
  hsla(122, 100%, 50%, 0.1)
);

$pcImg: url("../img/pc.png");
$papersImg: url("../img/papers.png");

/* testing? */
@mixin flexCenterEverything() {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
